* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: calc(100vh - 100px);
}

/* NAV MENU SX (OVERFLOW) */

nav {
    width: 300px;
    /* height: calc(100vh - 100px); */
    background-color: black;
    /* overflow: auto; */
    color: gray;
    padding: 10px;
}

/* LOGO */

#logo {
    width: 100px;
}

/* NAV LIST LINKS */

#playlist {
    height: 200px;
    overflow: auto;
}

ul li {
    padding: 10px 0;
}

.list {
    text-decoration: none;
    color: gray;
}

.list>img {
    width: 18px;
    line-height: 100%;
    vertical-align: middle;
}

/* :HOVER */

#nav-list li:hover {
    border-left: 2px solid yellowgreen;
}

.list:hover {
    color: white;
}

.text:hover {
    color: white;
}

#btn-create:hover {
    background-color: white;
}

h2 {
    color: white;
    font-size: 16px;
    padding: 10px 0;
}

/* BUTTON CREATE PLAYLIST */

#btn-create {
    padding: 2px 8px;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    background-color: gray;
    color: black;
    text-align: center;
    margin-right: 5px;
    line-height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

/* DOWNLOAD */

#end-nav {
    height: 150px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

/* LINE */

#line {
    border: 1px solid gray;
    margin: 8px 0;
}

/* PROFILE */

#profile {
    background-color: gray;
    border-radius: 999px;
}

.withe {
    color: white;
}

/* BUTTON UPGRADE */

#upgrade {
    width: 100%;
    height: 80px;
    background-color: rgba(8, 11, 18, 1);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1000;
}

#btn-upgrade {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 999px;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;

}

/* :HOVER */

#btn-upgrade:hover {
    padding: 12px 24px;
}

/* MAIN */

main {
    background-color: rgba(20, 25, 34, 1);
    overflow: auto;
    width: 100%;
}


#container {
    padding: 10px;
    color: white;
}


/* MAIN NAV */

#row-link {
    text-align: center;
}

.links {
    text-decoration: none;
    color: gray;
    padding: 10px;
}

/* :HOVER */

.links:hover {
    border-bottom: 2px solid yellowgreen;
    color: white;
}

/* REGOLE DEI CONTENUTI DEL MAIN */

h1 {
    margin: 20px 0;
}

.media-selection {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
}

.up-card {
    width: 100%;
    position: relative;
    text-align: center;
}

.up-card>img {
    width: 100%;
}

.up-card>.fa-circle-play {
    background-color: rgba(83, 82, 82, 0.318);
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 380%;
    vertical-align: middle;
    display: none;
}

.testo {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.title-media {
    font-weight: bold;
}

.advice {
    margin: 20px 0;
}

.circle {
    border-radius: 999px;
}


/* :hover */

.up-card:hover .fa-circle-play {
    display: block;
}

/* FOOTER */

footer {
    width: 100vw;
    height: 100px;
    background-color: rgba(40, 40, 40, 1);
    display: flex;
    justify-content: space-between;
}

/* PARTE SX */

#player-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#player-img>img {
    width: 50px;
}

#player-name {
    display: inline-block;
    padding: 20px;
}

#player-name>a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

#title-player {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.font {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font>a {
    padding: 10px;
}

.fa-regular {
    color: white;
}

.fa-solid {
    color: white;
}

/* PLAYER */

#player-elements {
    width: 600px;
}

#player-up {
    text-align: center;
}

#player-up>i {
    padding: 16px;
    font-size: 20px;
}

/* RANGE */

#range {
    display: flex;
}

#range>span {
    padding: 10px;
}

#customRange3 {
    width: 100%;
}

/* PARTE DX */

#player-vol {
    display: flex;
    padding: 10px;
}

/* :hover */

#player-name>a:hover {
    text-decoration: underline;
}

/* #player-nav>.fa-solid:hover, */
.font .fa-regular:hover,
.font .fa-solid:hover,
#player-up .fa-solid:hover,
#player-up .fa-regular:hover {
    font-size: 25px;
}